/* Fix pour les icônes Leaflet */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

/* Styles globaux */
body {
  background-color: #f8f9fa;
}

.card {
  transition: box-shadow 0.2s;
}
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.back-button {
  margin-bottom: 1.5rem;
}